.autocomplete-input {
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
  }
  &__popup {
    left: 14px;
    top: calc(100% + 5px) ;
    border: 1px solid #A9AEBA;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: #ffffff;
    min-width: 200px;
    max-width: 300px;
    display: none;
  }

  &__popup-item {
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    font-size: 14px;
    @include montserrat-medium;
    &:hover {
      background: rgba(#000000, 0.2);
    }
  }
}
