.bread-crumbs {
  padding: 20px 0;
  display: flex;
  align-items: center;

  .separator {
    width: 6px;
    height: 11px;
    margin: 0 5px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.612982 0.612005C0.648705 0.576192 0.691143 0.547778 0.737864 0.52839C0.784586 0.509003 0.834673 0.499023 0.885258 0.499023C0.935842 0.499023 0.985929 0.509003 1.03265 0.52839C1.07937 0.547778 1.12181 0.576192 1.15753 0.612005L5.77238 5.22685C5.80819 5.26257 5.8366 5.30501 5.85599 5.35173C5.87538 5.39845 5.88536 5.44854 5.88536 5.49912C5.88536 5.54971 5.87538 5.5998 5.85599 5.64652C5.8366 5.69324 5.80819 5.73568 5.77238 5.7714L1.15753 10.3862C1.08532 10.4585 0.987381 10.499 0.885258 10.499C0.783134 10.499 0.685194 10.4585 0.612982 10.3862C0.54077 10.314 0.500201 10.2161 0.500201 10.114C0.500201 10.0118 0.54077 9.9139 0.612982 9.84169L4.95632 5.49912L0.612982 1.15656C0.577168 1.12083 0.548754 1.0784 0.529366 1.03167C0.509979 0.984953 0.5 0.934865 0.5 0.884281C0.5 0.833697 0.509979 0.78361 0.529366 0.736888C0.548754 0.690166 0.577168 0.647729 0.612982 0.612005Z' fill='black'/%3e%3c/svg%3e ");
  }

  a {
    display: flex;
    align-items: center;

    svg {
      margin-right: 3px;
    }
  }

  a, span {
    font-size: 13px;
    line-height: 20px;
    color: #000000;
  }
}
