.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__placeholder {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  opacity: 1;
}


.choices[data-type*="select-one"]::after {
  border:none;
  content: '';
  background: url('data:image/svg+xml,<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.234946 0.234946C0.309233 0.160471 0.397482 0.101384 0.494639 0.0610683C0.591797 0.0207524 0.695954 0 0.801144 0C0.906334 0 1.01049 0.0207524 1.10765 0.0610683C1.20481 0.101384 1.29306 0.160471 1.36734 0.234946L7.19886 6.06806L13.0304 0.234946C13.1805 0.0847811 13.3842 0.000419465 13.5966 0.000419467C13.8089 0.000419468 14.0126 0.0847811 14.1628 0.234946C14.3129 0.385111 14.3973 0.588778 14.3973 0.801144C14.3973 1.01351 14.3129 1.21718 14.1628 1.36734L7.76506 7.76505C7.69077 7.83953 7.60252 7.89862 7.50536 7.93893C7.4082 7.97925 7.30405 8 7.19886 8C7.09367 8 6.98951 7.97925 6.89235 7.93893C6.7952 7.89862 6.70695 7.83953 6.63266 7.76505L0.234946 1.36734C0.160471 1.29305 0.101384 1.20481 0.0610683 1.10765C0.0207524 1.01049 0 0.906334 0 0.801144C0 0.695954 0.0207524 0.591797 0.0610683 0.494639C0.101384 0.397482 0.160471 0.309233 0.234946 0.234946Z" fill="black"/></svg>') no-repeat;

  margin-top: 0;
  width: 15px;
  height: 8px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(180deg) translateY(-50%);

}

.choices__inner {
  min-height: auto;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  background: #ffffff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
}
//
//.choices[data-type*=select-one] .choices__inner {
//  padding-bottom: 0;
//}
//
//.choices__list[aria-expanded] .choices__item {
//  padding: 0 5px 0 37px;
//  font-size: 14px;
//  font-weight: 500;
//  margin-bottom: 5px;
//}
//
//
//.choices__list--dropdown .choices__item--selectable.is-highlighted,
//.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
//  background:  transparent;
//}
//
//.choices__item.choices__item--choice.is-selected.choices__item--selectable {
//  color: #FFFFFF;
//  background: #337390;
//  border-radius: 3px;
//}
//
//.choices__item.choices__item--choice.is-selected.choices__item--selectable::before {
//  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5.40009L4.47868 8.87877C5.65025 10.0503 7.54975 10.0503 8.72132 8.87877L16 1.6001' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
//  position: absolute;
//  left: 12px;
//}
//
.choices__list--dropdown,
.choices__list[aria-expanded] {
  margin-top: 5px;
  padding: 9px 0;
  background: #ffffff;
  border-radius: 3px;
  box-shadow:  0 4px 15px 0 rgba(50, 50, 50, 0.15);
}
//
//
//.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
//  background-color: #337390;
//  color: #FFFFFF;
//  border-radius: 3px;
//}
//@media(min-width: 640px) {
//  .choices__list--dropdown .choices__item--selectable,
//  .choices__list[aria-expanded] .choices__item--selectable {
//    padding-right: 0;
//  }
//}
