.drop-list {
  &__item {
    display: none;
    margin-bottom: 17px;

    &._visible {
      display: block;
    }
  }

  &__toggle-btn {
    color: #91969A;
    font-size: 15px;
    @include montserrat-medium;
    display: inline-block;
    padding-right: 17px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 11px;
      height: 6px;
      transform: translateY(-50%);
      background: url('data:image/svg+xml,<svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.17621 0.17621C0.231924 0.120354 0.298111 0.0760381 0.37098 0.0458012C0.443848 0.0155643 0.521965 0 0.600858 0C0.679751 0 0.757868 0.0155643 0.830736 0.0458012C0.903604 0.0760381 0.969791 0.120354 1.02551 0.17621L5.39914 4.55105L9.77278 0.17621C9.8854 0.0635858 10.0382 0.000314599 10.1974 0.0003146C10.3567 0.000314601 10.5095 0.0635858 10.6221 0.17621C10.7347 0.288833 10.798 0.441584 10.798 0.600858C10.798 0.760132 10.7347 0.912883 10.6221 1.02551L5.82379 5.82379C5.76808 5.87965 5.70189 5.92396 5.62902 5.9542C5.55615 5.98444 5.47804 6 5.39914 6C5.32025 6 5.24213 5.98444 5.16927 5.9542C5.0964 5.92396 5.03021 5.87965 4.97449 5.82379L0.17621 1.02551C0.120354 0.969791 0.0760381 0.903604 0.0458012 0.830736C0.0155643 0.757868 0 0.67975 0 0.600858C0 0.521965 0.0155643 0.443848 0.0458012 0.37098C0.0760381 0.298111 0.120354 0.231924 0.17621 0.17621Z" fill="%2391969A"/></svg>') no-repeat;
    }

    &._expanded {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

}
