.flex-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &:not(:last-child) {
      padding-right: 20px;
    }

    .mobile-label {
      display: none;
      font-size: 14px;
      @media (max-width: 1024px) {
        display: block;
      }
    }

    .mobile-label + input, .mobile-label + select {
      @media (max-width: 1024px) {
        display: none;
      }
    }

  }
}
