.home-header {

  &__top {
    background: url("../img/home-header-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      background: none;
      min-height: auto;
    }
  }

  &__title-wrapper {
    background: rgba(#000000, 0.4);
    padding: 10px 0;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    @include montserrat-bold;
    font-size: 35px;
    line-height: 1.2;
    color: #ffffff;
  }

  &__nav {

    border-bottom: 1px solid #a2a2a2;
    padding-top: 25px;
    @media (max-width: 1280px) {
      padding-top: 15px;
    }



    @media (max-width: 768px) {
      display: none;
    }


    ul {
      display: flex;
      @media (max-width: 1280px) {
        gap: 15px;
        flex-wrap: wrap;
      }
    }

    li {
      @media (max-width: 1200px) {
        width: 23%;
        &:nth-child(4) {
          .home-header__nav-dropdown {
            left: auto;
            right: 20px;
          }
        }
      }
      padding-right: 36px;
      padding-bottom: 20px;
      line-height: 1.1;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      position: relative;
      transition: all .3s;
      svg {
        margin-top: 5px;
        min-width: 12px;
        width: 12px;
        height: 8px;
        transition: all .3s;
      }

      @media (max-width: 1280px) {
        padding-right: 0;
        padding-bottom: 10px;
      }

      &._active {
       & > a {
          color: #B7212E;
        }

        border-bottom: 3px solid #B7212E;
      }

      &:hover {
        svg {
          transform: rotate(180deg);
        }
        .home-header__nav-dropdown {
          z-index: 20;
          visibility: visible;
          opacity: 1;
        }
      }

      &:last-child {
        .home-header__nav-dropdown {
          left: auto;
          right: 20px;
        }
      }
    }

    a {
      color: #000000;
      @include montserrat-medium;
      font-size: 15px;
      max-width: 140px;
    }

    .home-header__nav-dropdown {
      background: #F2F2F2;
      padding: 26px 35px 26px 39px;
      position: absolute;
      top: 40px;
      left: -38px;
      width: 310px;
      height: auto;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      a {
        font-size: 15px;
        max-width: 100%;
        @include montserrat-medium;
        color: #000000;
        transition: all .3s;
        display: block;
        &._active {
          color: #B7212E;
          pointer-events: none;
        }
        &:not(:last-child) {
          margin-bottom: 27px;
        }
        &:hover {
          color: #B7212E;
        }
      }
    }


  }

}
