.home-menu {
  background: rgba(#000000, 0.4);

  .container {
    display: flex;
    padding: 13px 15px 13px 220px;
    justify-content: space-between;
    gap: 20px;
    position: relative;
  }

  &__logo {
    position: absolute;
    left: 15px;
    top: 0;
  }

  &__controllers {
    margin-left: auto;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    ul {
      display: flex;
      gap: 18px;
      li {
        padding-right: 23px;
        border-right: 1px solid #A3A3A3;
      }
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #ffffff;
        font-size: 14px;
        @include montserrat-medium;
      }
    }


  }

}
