.home-bread-crumbs {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  padding: 22px 0 28px;
  a {
    color: #B7212E;
    @include montserrat-regular;
    font-size: 12px;
  }

  li {
    position: relative;
    padding-right: 8px;
    &::after {
      content: '/';
      position: absolute;
      right: 0;
      bottom: 0;
      color: #000000;
      font-size: 12px;
    }
    &:last-child {
      &::after {
        content: ''
      }
      a {
        color: #000000;
        pointer-events: none;
      }
    }
  }

}
