.lk-content {
  display: flex;
  gap: 15px;

  .profile-menu {
    margin-right: 0;
    padding: 23px 35px 25px 33px;
  }

  &__avatar {
    min-width: 296px;
    width: 296px;
    height: 296px;
    border: 34px solid #D9D8E0;
    margin-bottom: 15px;

    img {
      height: 100%;
    }
  }
}
