.mobile-filtration {
  margin-bottom: 25px;
  display: none;
  @media(max-width: 1024px) {
    display: block;
  }
  &__controllers {
    display: flex;
    gap: 10px;
  }
  &__main-search-input {
    flex-grow: 1;
    height: 40px;
    padding: 5.5px 15px 5.5px 36px;
    font-size: 15px;
    @include montserrat-regular;
    background: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6628 12.0628L10.7978 9.31577C11.4722 8.32745 11.8327 7.15628 11.8316 5.95718C11.8298 4.37779 11.206 2.8636 10.0968 1.7468C8.98773 0.63 7.48396 0.0017942 5.91544 0C4.34704 0.0019935 2.84347 0.630288 1.73451 1.74707C0.625561 2.86384 0.00178147 4.37792 0 5.95718C0.00197938 7.53632 0.625847 9.0502 1.73478 10.1668C2.84371 11.2834 4.34717 11.9116 5.91544 11.9136C7.0877 11.9157 8.23384 11.565 9.20678 10.9066L12.1151 13.6987C12.3314 13.9006 12.618 14.0087 12.9128 13.9995C13.2076 13.9902 13.487 13.8645 13.6904 13.6494C13.8938 13.4344 14.005 13.1473 13.9998 12.8504C13.9947 12.5535 13.8736 12.2705 13.6628 12.0628ZM1.94488 5.95718C1.94587 4.89707 2.36449 3.88064 3.10888 3.13096C3.85327 2.38127 4.86262 1.95956 5.91544 1.95836C6.96833 1.95956 7.97775 2.38125 8.72226 3.13091C9.46677 3.88058 9.88555 4.897 9.88674 5.95718C9.88535 7.01724 9.46648 8.03347 8.722 8.78297C7.97751 9.53247 6.9682 9.95405 5.91544 9.95525C4.86275 9.95405 3.85351 9.53245 3.10914 8.78293C2.36478 8.0334 1.94607 7.01717 1.94488 5.95718Z" fill="%23C7C7C7"/></svg>') no-repeat left 12px top 12px, 0 0;
    &::placeholder {
      color: #C2C2C2;
    }
  }

  &__filter-btn {
    width: 40px;
    min-width: 40px;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    ._filter-counter {
      position: absolute;
      right: -6px;
      top: -6px;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      background: #B7212E;
      font-size: 11px;
      @include montserrat-bold;
      color: #ffffff;
      border-radius: 50%;
    }
  }

  &__filter-list {
    overflow-x: auto;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    li {
      min-width: max-content;
      background: #EFEFEF;
      border-radius: 50px;
      padding: 5.5px 17px;
      font-size: 15px;
      @include montserrat-regular;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      a {
        color: #000000;
        &._remove-filter {
          width: 22px;
          height: 22px;
        }
      }
    }
  }


  .mobile-filter-form {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding: 18px 15px;
    z-index: 9999999;
    overflow-y: auto;


    &._active {
      display: block;
    }

    h5 {
      font-size: 20px;
      @include montserrat-semibold;
      margin-bottom: 25px;
    }

    .input-wrapper {
      margin-bottom: 18px;
      label {
        display: block;
        font-size: 15px;
        @include montserrat-semibold;
        margin-bottom: 7px;
      }
      .main-input {
        border-radius: 0;
        padding: 10.5px 14px;
      }
    }

    &__close-btn {
      position: absolute;
      right: 17px;
      top: 21px;
    }

  }
}
