.table-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
  }
  .table-navigation {
    border-radius: 3px;
    display: flex;
    width: max-content;

    button, a {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 0 15px;
      height: 35px;
      width: 100px;
      @include montserrat-medium;
      font-size: 14px;
      color: #000000;
      border: 1px solid #000000;

      &._blocked {
        color: #91969A;
        background: #EFEFEF;
        border: 1px solid #959595;
        pointer-events: none;
        svg {
          path {
            stroke: #91969A;
          }
        }
      }
    }

    &__prev {
      border-radius: 3px 0 0 3px;
    }

    &__next {
      border-radius: 0 3px 3px 0;
    }
  }


  .content-count {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 768px) {
      display: none;
    }

    span {
      font-size: 14px;
    }

    select {
      min-width: 60px;
      height: 35px;
      padding: 0 25px 0 10px;
      border: 1px solid #000000;
      border-radius: 3px;
      background-position: right 11px top 13px, 0 0;
      font-size: 14px;
      @include montserrat-medium;
      appearance: none;
      background-image: url('data:image/svg+xml,<svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.17621 0.176209C0.231924 0.120354 0.298111 0.0760381 0.37098 0.0458012C0.443848 0.0155643 0.521965 0 0.600858 0C0.67975 0 0.757868 0.0155643 0.830736 0.0458012C0.903604 0.0760381 0.969791 0.120354 1.02551 0.176209L5.39914 4.55105L9.77278 0.176209C9.8854 0.0635858 10.0382 0.000314599 10.1974 0.0003146C10.3567 0.000314601 10.5095 0.0635858 10.6221 0.176209C10.7347 0.288833 10.798 0.441584 10.798 0.600858C10.798 0.760132 10.7347 0.912882 10.6221 1.02551L5.82379 5.82379C5.76808 5.87965 5.70189 5.92396 5.62902 5.9542C5.55615 5.98444 5.47804 6 5.39914 6C5.32025 6 5.24213 5.98444 5.16927 5.9542C5.0964 5.92396 5.03021 5.87965 4.97449 5.82379L0.17621 1.02551C0.120354 0.969791 0.0760381 0.903604 0.0458012 0.830736C0.0155643 0.757868 0 0.67975 0 0.600858C0 0.521965 0.0155643 0.443848 0.0458012 0.37098C0.0760381 0.298111 0.120354 0.231924 0.17621 0.176209Z" fill="black"/></svg>');
      background-repeat: no-repeat;
    }
  }
}

