.courses-teacher-page {

  &__inner {
    .container {
      display: flex;
      align-items: flex-start;
    }
  }

  .section {
    .container {
      display: flex;

      @media (max-width: 1270px) {
        flex-direction: column;
        gap: 20px;
        padding: 0;

        .profile-menu,
        .owned-courses {
          width: 100%;
        }

        .owned-courses {
          border-top: 0.25px solid #000;
          margin: 0;
          padding-left: 20px;
          padding-right: 20px;

          h2 {
            font-size: 24px;
          }
        }
      }

      @media (max-width: 720px) {
        .accordion-content ul {
          li {
            flex-direction: column;
            position: relative;
          }

          .owned-courses__accordion-desc {
            max-width: 70%;
          }

          .owned-courses__accordion-type {
            text-align: right;
            position: absolute;
            max-width: 30%;

            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      @media (max-width: 650px) {
        .accordion-btn {
          padding: 15px 40px 15px 15px;
        }

        .owned-courses__list-item .accordion-arrow {
          right: 15px;
          top: 22px;
        }

        .owned-courses__list-item-info {
          flex-direction: column;
          gap: 10px;
        }
      }

      @media (max-width: 500px) {
        .accordion-content {
          padding: 10px 15px;
        }
      }

      @media (max-width: 450px) {
        .owned-courses__stats {
          border: none;
          background-color: #EFEFEF;
          flex-direction: column;
          gap: 10px;
          padding: 15px;

          p {
            position: static;
          }

          span {
            font-weight: 600;
          }
        }

        .pagination {
          margin-top: 25px;
          border-radius: 3px;
          display: flex;
          width: max-content;
          min-width: max-content;
          padding: 0;
          gap: 0;

          li {
            display: none;
          }

          li:nth-child(1),
          li:nth-child(7) {
            display: block;
            padding: 0;
            min-width: max-content;

            a {
              padding: 8px 15px;
              text-transform: capitalize;
              display: flex;
              align-items: center;
              gap: 15px;
              border: 1px solid #000000;
              font-family: 'Montserrat', sans-serif;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #000000;


            }
          }

          li:nth-child(1) a {
            color: #91969A;
            background: #EFEFEF;
            border: 1px solid #959595;
            border-radius: 3px 0px 0px 3px;

            padding-left: 40px;

            background-repeat: no-repeat;
            background-position: 18% 46%;

            background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.58236 1L1 8L7.58236 15' stroke='%2391969A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }

          li:nth-child(7) a {
            border-radius: 0px 3px 3px 0px;
            padding-right: 35px;

            background-repeat: no-repeat;
            background-position: 88% 46%;
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00358 15L7.58594 8L1.00358 1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    &__inner {
      .container {
        display: flex;
        align-items: flex-start;
      }
    }
  }

  .profile-info,
  .profile-menu {
    @media (max-width: 550px) {
      display: none;
    }
  }
}