.courses-student-page {

  // margin-bottom: 80px;
  &__inner {
    .container {
      display: flex;
      align-items: flex-start;
    }

    .profile-menu li a {
      align-items: center;
    }
  }

}