.home-page {
  background: #FFFFFF;

  h2.home-page__subtitle {
    @include montserrat-semibold;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .events {
    padding-top: 46px;
    &__title-block {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 10px;
      h2 {
        margin-bottom: 0;
      }
      a {
        @include montserrat-medium;
        font-size: 14px;
        color: #000000;
      }
    }
  }

}
