.profile-list-tasks-page {
  &__inner {
    .container {
      display: flex;
      align-items: flex-start;
    }
  }


  a.tasks__btn-check {
    color: inherit;
    height: 35px;
    padding: 5px 21px;
    text-align: center;
    border: 1px solid #A9AEBA;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

  }

  a.tasks__search-btn-filter {
    color: #000;
  }

  a.tasks__search-btn-filter._active {
    color: #B7212E;
  }
}