.lk-report-page {

    .back-button {
        margin-bottom: 40px;
        width: max-content;
        display: flex;
        gap: 16px;
        align-items: center;
        border: 1px solid #959595;
        border-radius: 3px;
        padding: 4px 13px;
        color: #000000;

        @media (max-width: 600px) {
            margin-bottom: 20px;
            padding-left: 20px;
            border: none;
            color: #91969A;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z' fill='%2391969A'/%3E%3C/svg%3E%0A");

            svg {
                display: none;
            }
        }
    }

    h3 {
        margin-bottom: 25px;
        @include montserrat-regular;
        font-size: 24px;
        line-height: 1.2;

        @media (max-width: 600px) {
            font-size: 20px;
        }
    }


    h4 {
        margin-bottom: 23px;
        @include montserrat-semibold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        @media (max-width: 600px) {
            margin-bottom: 15px;
        }
    }

    .report-data {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (max-width: 600px) {
            gap: 10px;
        }

        &__item {
            display: flex;

            @media (max-width: 810px) {
                flex-direction: column;
            }

            &-title {
                width: 170px;
            }

            &-value {
                .mark {
                    font-weight: 600;
                }

                a {
                    color: #B7212E;
                }
            }
        }
    }
}