.lkp-create-students-list-page {

    .lkp-students-list-page__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .main-button {
            padding-left: 40px;
            padding-right: 40px;

            @media (max-width: 768px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .lk-content {
        padding: 36px 0 600px;

        @media (max-width: 768px) {
            padding: 36px 0 120px;
        }

        h2 {
            margin-bottom: 18px;
            margin-top: 10px;

            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 1.2;
                margin-bottom: 4px;
            }
        }

        .flex-table {
            position: relative;
            overflow-x: initial;

            @media (max-width: 768px) {
                overflow: auto;
            }

            &__title-row {
                padding: 10px 0;

                @media (max-width: 768px) {
                    display: flex;
                }

                .flex-table__cell {
                    display: flex;
                    align-items: center;
                }
            }

            &__cell {
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 768px) {
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }
                }

                &:nth-child(1) {
                    width: 3%;
                    text-align: center;
                    justify-content: center;
                    min-width: 30px;
                    display: flex;

                    @media (max-width: 1840px) {
                        max-width: 30px;
                    }
                }

                &:nth-child(2) {
                    width: 20%;
                    justify-content: flex-start;

                    @media (max-width: 1250px) {
                        max-width: 170px;
                    }

                    @media (max-width: 840px) {
                        padding: 0;
                        min-width: 190px;

                        span {
                            display: none;
                        }
                    }
                }

                &:nth-child(3) {
                    width: 16%;
                    display: flex;
                    align-items: center;

                    @media (max-width: 1270px) {
                        max-width: 160px;
                    }

                    @media (max-width: 840px) {
                        min-width: 170px;
                    }
                }

                &:nth-child(4) {
                    width: 58%;
                    justify-content: flex-start;
                    padding: 0;

                    @media (max-width: 900px) {
                        max-width: 410px;
                    }

                    @media (max-width: 840px) {
                        max-width: 300px;
                    }

                    @media (max-width: 500px) {
                        max-width: 270px;
                    }
                }

                &:nth-child(5) {
                    width: 2%;
                    padding-left: 5px;
                    justify-content: flex-start;

                    @media (max-width: 500px) {
                        max-width: 40px;
                    }
                }
            }

            &__row {
                @media (max-width: 768px) {
                    flex-direction: row;
                    min-width: 730px;
                }

                @media (max-width: 450px) {
                    width: 700px;
                    min-width: 700px;
                }
            }
        }
    }

    &__title {
        margin-bottom: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 28px;
        }
    }

    .create-students-form {
        margin-bottom: 50px;
        padding: 30px 45px 39px 30px;
        background: #F5F5F5;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 35px;

        @media (max-width: 500px) {
            padding: 20px 10px;
            border-radius: 0;
            margin-left: -10px;
            margin-right: -10px;
        }

        .form-block {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .form-item__content {
            display: flex;
            justify-content: space-between;

            @media (max-width: 1300px) {
                gap: 40px;
            }

            @media (max-width: 950px) {
                flex-direction: column;
                gap: 6px;
            }

            .input {
                flex: 1;

                input {
                    border-radius: 0;
                    max-width: 765px;

                    @media (max-width: 950px) {
                        max-height: 35px;

                        &::placeholder {
                            font-size: 15px;
                        }
                    }
                }
            }

            p {
                max-width: 365px;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.2;
            }
        }

        h5 {
            margin-bottom: 3px;

            @media (max-width: 500px) {
                font-size: 12px;
            }
        }

        h6 {
            margin-bottom: 6px;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.2;

            @media (max-width: 500px) {
                margin-bottom: 8px;
                font-weight: 500;
                font-size: 12px;
            }
        }

        textarea {
            flex: 1;
            min-height: 150px;
            max-width: 765px;
            border-radius: 0;
            border-color: #A9AEBA;

            @media (max-width: 500px) {
                max-height: 120px;
                min-height: 120px;
            }
        }

        .main-button {
            padding-left: 25px;
            padding-right: 27px;
            padding-bottom: 10px;
            max-width: max-content;

            @media (max-width: 500px) {
                padding-right: 40px;
                padding-top: 10px;
            }
        }
    }
}