.lkp-tasks-list-page {

    .lk-content {
        padding: 36px 0 600px;

        @media (max-width: 768px) {
            padding: 36px 0 120px;
        }

        h2 {
            margin-bottom: 14px;
            margin-top: 10px;

            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 1.2;

                &+span {
                    display: inline-block;
                    line-height: 1.2;
                }
            }
        }

        .flex-table {
            @media (max-width: 768px) {
                overflow: auto;
            }

            &__title-row {
                padding: 10px 0;

                @media (max-width: 768px) {
                    display: flex;
                }

                .flex-table__cell {
                    display: flex;
                    align-items: center;
                }
            }

            &__cell {
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 768px) {
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }
                }

                &:nth-child(1) {
                    width: 3%;
                    text-align: center;
                    justify-content: center;
                    min-width: 30px;
                    display: flex;

                    // @media (max-width: 1250px) {
                    //     max-width: 30px;
                    // }
                }

                &:nth-child(2) {
                    width: 15%;
                    justify-content: flex-start;


                    .main-input {
                        width: 250px;
                    }

                    // @media (max-width: 1250px) {
                    //     max-width: 270px;

                    //     .main-input {
                    //         max-width: 100%;
                    //     }
                    // }

                    // @media (max-width: 500px) {
                    //     width: 200px;
                    // }
                }

                &:nth-child(3) {
                    width: 24%;
                    justify-content: flex-start;

                    

                    // @media (max-width: 1250px) {
                    //     max-width: 250px;

                    //     .main-input {
                    //         max-width: 100%;
                    //     }
                    // }

                    // @media (max-width: 500px) {
                    //     width: 230px;
                    // }
                }

                &:nth-child(4) {
                    width: 20%;
                    justify-content: flex-start;
                    padding: 0;

                    .main-input {
                        width: 200px;
                    }

                    // @media (max-width: 1250px) {
                    //     max-width: 190px;
                    //     padding: 0;

                    //     .main-input {
                    //         max-width: 100%;
                    //     }
                    // }

                    // @media (max-width: 500px) {
                    //     width: 130px;
                    //     padding-right: 8px;
                    // }
                }

                &:nth-child(5) {
                    width: 10%;
                    padding-left: 5px;
                    justify-content: flex-start;

                    .main-input {
                        width: 125px;
                    }

                    // @media (max-width: 1250px) {
                    //     max-width: 220px;

                    //     .main-input {
                    //         max-width: 100%;
                    //     }
                    // }

                    // @media (max-width: 500px) {
                    //     width: 100px;
                    //     padding-right: 8px;
                    // }
                }

                &:nth-child(6) {
                    width: 12%;
                    justify-content: flex-start;

                    .main-input {
                        width: 200px;
                    }

                    // @media (max-width: 1250px) {
                    //     max-width: 220px;

                    //     .main-input {
                    //         max-width: 100%;
                    //     }
                    // }

                    // @media (max-width: 500px) {
                    //     width: 140px;

                    // }
                }

                &:nth-child(7) {
                    width: 15%;
                    justify-content: flex-start;

                    .main-input {
                        width: 124px;
                    }

                    // @media (max-width: 1250px) {
                    //     max-width: 220px;

                    //     .main-input {
                    //         max-width: 100%;
                    //     }
                    // }

                    // @media (max-width: 500px) {
                    //     width: 140px;

                    // }
                }
            }

            &__row {
                @media (max-width: 1024px) {
                    min-width: 1050px;
                }

                @media (max-width: 1024px) {
                    min-width: 800px;
                }

                @media (max-width: 768px) {
                    flex-direction: row;
                    min-width: 1000px;
                }
            }
        }
    }

    &__title {
        margin-bottom: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 28px;
        }
    }

}