.lks-timetable-page {

  .lk-simple-nav {
    margin: 0;

    li {
      a {
        padding: 7.5px 20px;
      }
    }
  }

  .lk-content {
    padding: 36px 0 320px;

    @media (max-width: 768px) {
      padding: 36px 0 120px;
    }

    h2 {
      margin: 0 0 19px 0;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 11px;
      }
    }

    .flex-table {
      @media (max-width: 768px) {
        overflow: hidden;
      }
      &__cell {
        display: flex;
        align-items: center;
        font-size: 14px;
        @media (max-width: 768px) {
          &:last-child {
            border-bottom: 1px solid #91969A;
            padding-bottom: 10px;
          }
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        &:nth-child(1) {
          width: 17%;
          text-align: left;
          padding-left: 10px;
          @media (max-width: 768px) {
            display: block;
            width: 100%;
          }
        }

        &:nth-child(2) {
          width: 10%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        &:nth-child(3) {
          width: 9%;
          @media (max-width: 768px) {
            display: none;
          }
        }

        &:nth-child(4) {
          width: 30%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        &:nth-child(5) {
          width: 17%;
          @media (max-width: 768px) {
            display: none;
          }
        }

        &:nth-child(6) {
          width: 17%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }

      }

      &__row {
        padding: 15.5px 0;
        @media (max-width: 1024px) {
          min-width: 1100px;
        }

        @media (max-width: 768px) {
          border: none;
          padding: 0;
          min-width: 100%;
          &:nth-child(2) {
            .flex-table__cell:first-child {
              border-top: 1px solid #91969A;
            }
          }
        }

        &._past {
          background: #FBFBFB;
          opacity: 0.4;
        }

        &._current {
          background: #F1F8FF;
        }


        &._week {
          @media (max-width: 768px) {
            border-top: none;
            padding-top: 0;
            .flex-table__cell:first-child {
              @include montserrat-semibold;
              padding: 15.5px 0;
              border-bottom: 1px solid #91969A;
            }
          }
        }

        &._day-off {
          pointer-events: none;
          background: #FFF4F1;
          @media (max-width: 768px) {
            padding: 0;

            .flex-table__cell:not(:first-child) {
              display: none;
            }
            .flex-table__cell:first-child {
              border-bottom: 1px solid #91969A;
              margin-bottom: 0;
            }
          }
        }

      }

      &__title-row {
        padding: 15px 0;

        .flex-table__cell {
          color: #000000;
          @include montserrat-medium;
        }
      }

      a.flex-table__cell {
        color: #B7212E;
      }

    }

  }

  &__title {
    display: flex;
    gap: 26px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 23px;

    h2 {
      padding-top: 6px;
      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 26px;
    }
  }

  &__desc {
    @include montserrat-light;
    line-height: 1.2;
  }

  .timetable-swiper {
    margin-left: -6px;
    padding-left: 6px;
    margin-right: -6px;
    padding-right: 6px;
    padding-bottom: 6px;
    margin-bottom: -6px;

    &__date {
      @include montserrat-regular;
      font-size: 15px;
      height: 30px;
      margin-bottom: 5px;

      span {
        font-weight: 700;
      }
    }

    &__card {
      border-radius: 3px;
      background: #ffffff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      padding: 4px 10px 5px 10px;
      height: 210px;
      display: flex;
      flex-direction: column;

      &._active {
        border: 1px solid #EF6262;

        .timetable-swiper__card-top {
          svg path {
            stroke: #B7212E;
            fill: #B7212E;
          }
        }
      }

      &._no-classes {
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 1px solid #999999;
        box-shadow: none;
        height: 208px;

        h6 {
          text-align: center;
          font-size: 15px;
          @include montserrat-semibold;
          line-height: 1.45;
        }
      }

      &._off {
        background: #F5F5F5;
        color: #91969A;

        .timetable-swiper__card-title, .timetable-swiper__card-teacher {
          color: #91969A;
        }
      }
    }

    &__card-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      margin-bottom: 14px;

      span {
        font-size: 13px;
      }
    }

    &__card-inner {
      height: 117px;
      border-bottom: 1px solid #DEDEDE;
      margin-bottom: 11px;

      a {
        color: #B7212E;
        font-size: 13px;
      }

      .timetable-swiper__card-title {
        @include montserrat-semibold;
        font-size: 15px;
        line-height: 1.45;
        display: inline-block;
        margin-bottom: 10px;
      }

      .timetable-swiper__card-teacher {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 165px;
      }
    }

    &__card-loc {
      font-size: 13px;
      line-height: 1.2;
    }
  }

  .table-weeks-controller {
    margin-top: 48px;
    margin-bottom: 16px;
  }

}
