.lk-task-page {

    h3 {
        margin-bottom: 25px;
        @include montserrat-regular;
        font-size: 24px;
        line-height: 1.2;

        @media (max-width: 600px) {
            font-size: 20px;
        }
    }


    h4 {
        margin-bottom: 23px;
        @include montserrat-semibold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        @media (max-width: 600px) {
            margin-bottom: 15px;
        }
    }

    .task-data {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (max-width: 600px) {
            gap: 10px;
        }

        &__item {
            display: flex;

            @media (max-width: 810px) {
                flex-direction: column;
            }

            &-title {
                width: 170px;
            }

            &-value {
                .mark {
                    font-weight: 600;
                }

                a {
                    color: #B7212E;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    .task-info {
        margin-right: 8px;

        &__history {
            margin: 100px 0px 30px 0;

            padding: 20px 40px 18px 25px;
            border: 0.25px solid #000000;
            border-radius: 10px;

            h6 {
                margin-bottom: 10px;
            }

            p {
                display: flex;
                gap: 20px;
                font-size: 13px;

                @media (max-width: 500px) {
                    flex-direction: column;
                    gap: 0px;
                }
            }

            @media (max-width: 1000px) {
                margin: 30px 0px 20px 0;
            }

            @media (max-width: 500px) {
                padding: 15px 20px 18px 20px;
            }

        }

        .main-button {
            background-color: #B7212E;

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}