.paid-course-page {

  &__inner {
    padding-bottom: 80px;
  }

  &__inner-wrapper {
    padding: 35px 85px 50px 30px;
    background-color: #fff;
    border-radius: 5px;

    @media (max-width: 1024px) {
      padding-right: 30px;
    }
  }

  h1 {
    margin-bottom: 25px;
  }

  h3 {
    @include montserrat-semibold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  &__content {
    gap: 10px;
    display: flex;
    margin-bottom: 38px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__content-img {
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-radius: 5px;
  }

  &__content-text {
    max-width: 720px;
    margin-right: 20px;
  }

  &__content-progress {
    width: 115px;
    min-width: 115px;
    padding-top: 36px;
    margin-left: auto;

    @media (max-width: 768px) {
      margin-left: 0;
      padding-top: 15px;
    }

    h5 {
      @include montserrat-light;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 5px;
    }


  }


  &__content-lessons {
    padding-left: 173px;

    @media (max-width: 1024px) {
      padding-left: 0;
    }
  }


  .accordion-btn {
    @include montserrat-medium;
    font-size: 14px;
    line-height: 17px;
    color: #8E0C18;
  }


  &__progress-wrapper {
    margin-bottom: 121px;
  }

  &__content-grade {
    @include montserrat-semibold;
    font-size: 14px;
    line-height: 25px;
    min-width: 80px;
  }

  &__content-list {
    &:first-child {
      margin-top: 30px;
    }

    li {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;

      justify-content: space-between;
      gap: 10px;

      padding-right: 20px;

      .lesson-description {
        display: flex;
        align-items: flex-start;
        gap: 12px;
      }

      h5 {
        padding-right: 20px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &._disabled {
        opacity: 0.2;

        svg path {
          fill: #000000;
        }
      }

      svg {
        width: 17px;
        min-width: 17px;
      }

      h6 {
        @include montserrat-semibold;
        font-size: 14px;
        line-height: 25px;
        min-width: 94px;
        display: flex;
        align-items: center;
        gap: 15px;
      }

      p {
        font-size: 14px;
        line-height: 25px;
        max-width: 650px;
        margin-right: 52px;
      }

      .main-button {
        padding: 5px 14px;
      }

    }


  }


}