.payments-page {
  &__inner {
    .container {
      display: flex;
      align-items: flex-start;
    }

    .profile-menu {
      display: none;
    }

    .profile-info {}


    // .profile-menu li a{
    //   align-items: center;
    // }


  }
}