.profile-teacher-page {
  &__inner {
    .container {
      display: flex;
      align-items: flex-start;

      @media (max-width: 900px) {
        flex-direction: column;
        gap: 20px;
        padding: 0;

        .profile-menu,
        .profile-data {
          width: 100%;
        }
      }
    }
  }


  @media (max-width: 450px) {
    .profile-info__avatar {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 161px;
      min-width: 161px;
      height: 161px;
      border-width: 15px;
      align-self: flex-start;
    }

    .profile-menu {
      display: none;
    }
  }

  .profile-info {
    padding-top: 0;
    background-image: none;
    background-color: #fff;

    .background-container {
      position: absolute;
      z-index: 0;
      width: 100%;
      min-height: 340px;

      background-image: url('../img/profile-info-bg.jpg');
      background-size: cover;
      background-position: center;
    }

    .profile-info__name,
    .profile-info__desc,
    .profile-info__avatar {
      position: relative;
      z-index: 1;
    }

    .profile-info__name,
    .profile-info__desc {
      color: #fff;
    }

    .profile-info__name {
      line-height: 1.2;
    }

    .profile-info__stat {
      margin-top: 70px;
      gap: 12px;

      background-color: #EFEFEF;
      padding: 10px 20px;

      span {
        font-size: 15px;
        line-height: 1.2;
      }
    }
  }

  @media (max-width: 350px) {
    .edit-btn {
      top: 16px;
      right: 62px;
    }

    .profile-data {
      padding-top: 15px;
    }

    .profile-data h2 {
      font-size: 24px;
    }
  }

  &:has(._edit-active) {
    .profile-info {
      display: none;
    }

    main {
      border-top: 0.25px solid #000;
    }

    h2:not(.isEditableBlock) {
      display: none;
    }

    h2 {
      margin-top: 20px;
    }

    .profile-form__email {
      background-color: #EFEFEF;
      color: #959595;
      padding: 8px;
      width: 100%;
    }


    @media (max-width: 350px) {
      .profile-form__label {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        color: #000000;
      }
    }


    .profile-form__row-btn {
      flex-direction: row;
      gap: 10px;
      padding: 0 20px 0 5px;

      button {
        flex: 1;
      }
    }
  }

}

.profile-teacher-page, .profile-student-page {
  .general-dropzone {
    .dz-message {
      background: #B7212E;
      width: 205px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include montserrat-medium;
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;
    }

    &.dz-started {
      .dz-message {
        display: none;
      }
    }

    .dz-preview {
      width: 110px;
      height: 110px;
      margin: 0;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35px;
        background: rgba(#000000, 0.3) url('data:image/svg+xml,<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4347 17.4199H2.56197C1.88271 17.4192 1.23149 17.1491 0.751183 16.6688C0.270879 16.1884 0.000725776 15.5372 0 14.858V5.2007C0.000725504 4.5214 0.270861 3.87012 0.75115 3.38973C1.23144 2.90933 1.88266 2.63906 2.56197 2.63819H5.30379L5.39044 2.2143C5.52012 1.59 5.86051 1.02926 6.35452 0.626102C6.84852 0.222949 7.46612 0.00189291 8.10375 0H11.8962C12.5339 0.00189291 13.1515 0.222949 13.6455 0.626102C14.1395 1.02926 14.4799 1.59 14.6096 2.2143L14.6962 2.63819H17.438C18.1173 2.63906 18.7686 2.90933 19.2488 3.38973C19.7291 3.87012 19.9993 4.5214 20 5.2007V14.858C19.9993 15.5378 19.7287 16.1895 19.2477 16.6699C18.7666 17.1503 18.1146 17.4201 17.4347 17.4199ZM2.56197 4.28329C2.31879 4.28358 2.08567 4.38034 1.91377 4.55234C1.74187 4.72435 1.64524 4.95753 1.6451 5.2007V14.858C1.64539 15.1011 1.74208 15.3341 1.91396 15.506C2.08585 15.6779 2.31889 15.7746 2.56197 15.7748H17.4347C17.6778 15.7746 17.9109 15.6779 18.0827 15.506C18.2546 15.3341 18.3513 15.1011 18.3516 14.858V5.2007C18.3515 4.95753 18.2548 4.72435 18.0829 4.55234C17.911 4.38034 17.6779 4.28358 17.4347 4.28329H14.2575C14.002 4.28259 13.7545 4.19404 13.5565 4.03249C13.3585 3.87094 13.2221 3.64622 13.1701 3.39603L12.9963 2.54442C12.9436 2.29093 12.8054 2.06324 12.6048 1.89952C12.4043 1.73579 12.1535 1.64597 11.8946 1.6451H8.10211C7.84317 1.64587 7.59238 1.73565 7.39179 1.8994C7.19121 2.06314 7.05303 2.29088 7.00044 2.54442L6.82606 3.39603C6.7743 3.64623 6.63802 3.87099 6.4401 4.03256C6.24218 4.19413 5.99469 4.28266 5.7392 4.28329H2.56197Z" fill="white"/><path d="M9.73616 14.3459C8.51361 14.3445 7.3415 13.8583 6.47702 12.9938C5.61255 12.1294 5.12631 10.9572 5.125 9.73469C5.12631 8.51214 5.61255 7.34004 6.47702 6.47556C7.3415 5.61108 8.51361 5.12484 9.73616 5.12354C10.9587 5.12498 12.1307 5.61126 12.9952 6.4757C13.8596 7.34015 14.3459 8.51218 14.3473 9.73469C14.3459 10.9572 13.8596 12.1292 12.9952 12.9937C12.1307 13.8581 10.9587 14.3444 9.73616 14.3459ZM9.73616 6.6075C8.90706 6.60841 8.11217 6.93818 7.52591 7.52444C6.93964 8.11071 6.60988 8.90559 6.60896 9.73469C6.60988 10.5638 6.93964 11.3587 7.52591 11.9449C8.11217 12.5312 8.90706 12.861 9.73616 12.8619C10.5653 12.861 11.3601 12.5312 11.9464 11.9449C12.5327 11.3587 12.8624 10.5638 12.8634 9.73469C12.8624 8.90559 12.5327 8.11071 11.9464 7.52444C11.3601 6.93818 10.5653 6.60841 9.73616 6.6075Z" fill="white"/><path d="M16.5896 6.89138C17.0339 6.89138 17.3941 6.53121 17.3941 6.08692C17.3941 5.64264 17.0339 5.28247 16.5896 5.28247C16.1453 5.28247 15.7852 5.64264 15.7852 6.08692C15.7852 6.53121 16.1453 6.89138 16.5896 6.89138Z" fill="white"/></svg>') no-repeat center 5px;
      }

      &:hover {
        &::after {
          height: 100%;
          background: rgba(#000000, 0.3) url('data:image/svg+xml,<svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4086 24.3879H3.58675C2.6358 24.3869 1.72408 24.0087 1.05166 23.3363C0.37923 22.6638 0.00101609 21.7521 0 20.8012V7.28098C0.00101571 6.32996 0.379205 5.41817 1.05161 4.74562C1.72401 4.07307 2.63573 3.69468 3.58675 3.69346H7.42531L7.54661 3.10002C7.72817 2.22599 8.20471 1.44096 8.89632 0.876543C9.58793 0.312128 10.4526 0.00265007 11.3453 0H16.6547C17.5474 0.00265007 18.4121 0.312128 19.1037 0.876543C19.7953 1.44096 20.2718 2.22599 20.4534 3.10002L20.5747 3.69346H24.4133C25.3643 3.69468 26.276 4.07307 26.9484 4.74562C27.6208 5.41817 27.999 6.32996 28 7.28098V20.8012C27.999 21.7529 27.6201 22.6653 26.9467 23.3379C26.2733 24.0104 25.3604 24.3881 24.4086 24.3879ZM3.58675 5.9966C3.24631 5.99701 2.91993 6.13248 2.67928 6.37328C2.43862 6.61409 2.30334 6.94054 2.30314 7.28098V20.8012C2.30354 21.1415 2.43891 21.4677 2.67955 21.7084C2.92018 21.949 3.24644 22.0844 3.58675 22.0848H24.4086C24.749 22.0844 25.0752 21.949 25.3158 21.7084C25.5565 21.4677 25.6919 21.1415 25.6923 20.8012V7.28098C25.6921 6.94054 25.5568 6.61409 25.3161 6.37328C25.0755 6.13248 24.7491 5.99701 24.4086 5.9966H19.9605C19.6028 5.99562 19.2562 5.87165 18.9791 5.64548C18.7019 5.41932 18.5109 5.10471 18.4381 4.75444L18.1948 3.56218C18.121 3.2073 17.9275 2.88854 17.6467 2.65932C17.366 2.43011 17.0149 2.30435 16.6524 2.30314H11.3429C10.9804 2.30421 10.6293 2.42991 10.3485 2.65915C10.0677 2.8884 9.87424 3.20723 9.80061 3.56218L9.55648 4.75444C9.48403 5.10472 9.29323 5.41939 9.01614 5.64559C8.73906 5.87178 8.39256 5.99573 8.03487 5.9966H3.58675Z" fill="white"/><path d="M13.6314 20.0841C11.9198 20.0823 10.2789 19.4015 9.06861 18.1913C7.85835 16.981 7.17761 15.3401 7.17578 13.6285C7.17761 11.9169 7.85835 10.276 9.06861 9.06569C10.2789 7.85542 11.9198 7.17468 13.6314 7.17285C15.3429 7.17487 16.9838 7.85566 18.194 9.06589C19.4042 10.2761 20.085 11.917 20.087 13.6285C20.085 15.34 19.4042 16.9808 18.194 18.1911C16.9838 19.4013 15.3429 20.0821 13.6314 20.0841ZM13.6314 9.2504C12.4707 9.25168 11.3578 9.71335 10.5371 10.5341C9.71628 11.3549 9.25461 12.4677 9.25333 13.6285C9.25461 14.7892 9.71628 15.9021 10.5371 16.7228C11.3578 17.5436 12.4707 18.0053 13.6314 18.0066C14.7922 18.0053 15.905 17.5436 16.7258 16.7228C17.5465 15.9021 18.0082 14.7892 18.0095 13.6285C18.0082 12.4677 17.5465 11.3549 16.7258 10.5341C15.905 9.71335 14.7922 9.25168 13.6314 9.2504Z" fill="white"/><path d="M23.2239 9.64798C23.8459 9.64798 24.3501 9.14374 24.3501 8.52174C24.3501 7.89974 23.8459 7.39551 23.2239 7.39551C22.6019 7.39551 22.0977 7.89974 22.0977 8.52174C22.0977 9.14374 22.6019 9.64798 23.2239 9.64798Z" fill="white"/></svg>') no-repeat center;
        }
      }
    }

    .dz-remove {
      position: absolute;
      right: -20px;
      top: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
      background: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.44929 13.8745L13.8745 2.4493C14.2418 2.08193 14.2418 1.49289 13.8745 1.12553C13.5071 0.758158 12.9181 0.758158 12.5507 1.12553L1.12553 12.5507C0.758158 12.9181 0.758158 13.5071 1.12553 13.8745C1.49289 14.2418 2.08192 14.2418 2.44929 13.8745Z" fill="%23959595" stroke="%23959595" stroke-width="0.3"/><path d="M1.11502 2.43693L1.12021 2.44342L1.12608 2.4493L12.5513 13.8745C12.9186 14.2418 13.5077 14.2418 13.875 13.8745C14.2424 13.5071 14.2424 12.9181 13.875 12.5507L2.44985 1.12553C2.08248 0.758158 1.49345 0.758158 1.12608 1.12553L1.12021 1.1314L1.11502 1.13789C0.824161 1.50146 0.824161 2.07336 1.11502 2.43693Z" fill="%23959595" stroke="%23959595" stroke-width="0.3"/></svg>') no-repeat;

      &:hover {
        background: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.44929 13.8745L13.8745 2.4493C14.2418 2.08193 14.2418 1.49289 13.8745 1.12553C13.5071 0.758158 12.9181 0.758158 12.5507 1.12553L1.12553 12.5507C0.758158 12.9181 0.758158 13.5071 1.12553 13.8745C1.49289 14.2418 2.08192 14.2418 2.44929 13.8745Z" fill="black" stroke="black" stroke-width="0.3"/><path d="M1.11502 2.43693L1.12021 2.44342L1.12608 2.4493L12.5513 13.8745C12.9186 14.2418 13.5077 14.2418 13.875 13.8745C14.2424 13.5071 14.2424 12.9181 13.875 12.5507L2.44985 1.12553C2.08248 0.758158 1.49345 0.758158 1.12608 1.12553L1.12021 1.1314L1.11502 1.13789C0.824161 1.50146 0.824161 2.07336 1.11502 2.43693Z" fill="black" stroke="black" stroke-width="0.3"/></svg>') no-repeat;
      }
    }

  }

}
