<div class="profile-info">
  <div class="background-container"></div>
  <div class="container">
    <div class="profile-info__avatar">
      <img src="./img/profile-info-avatar.jpg" alt="аватар профиля" />
    </div>
    <div class="profile-info__inner">
      <h1 class="profile-info__name">Константин Константинопольский</h1>
      <p class="profile-info__desc">Профиль преподавателя</p>
      <ul class="profile-info__stat">
        <li><span>5</span> курсов создано</li>
        <li><span>55</span> уроков в курсах</li>
        <li><span>5555</span> активных студентов</li>
      </ul>
    </div>
  </div>
</div>
