<div class="profile-info">
  <div class="container">
    <div class="profile-info__avatar">
      <img src="./img/profile-student-info-avatar.jpg" alt="аватар профиля">
    </div>
    <div class="profile-info__inner">
      <h1 class="profile-info__name">
        Екатерина
        Константинопольская
      </h1>
      <p class="profile-info__desc">
        Профиль студента
      </p>
      <ul class="profile-info__stat">
        <li>
         <span>5</span> активных<br/>подписок
        </li>
        <li>
         <span>5</span> курсов<br/>пройдено
        </li>
        <li>
         <span>5</span> уроков<br/>пройдено
        </li>
        <li>
          <span>3,5</span> средний<br/>балл
        </li>
      </ul>
    </div>
  </div>
</div>
